@page "/simulator"

<div class="row">
    <div class="col-4">
        <FuelPoint/>
    </div>
    <div class="col-4">
        <PaymentDevice />
    </div>
    <div class="col-4">
        <Tank/>
    </div>
</div>

@code {

}
