<div class="container">
    <div>
        <div>
            <p class="font-weight-bold text-center mb-0">@(currentValue)</p>
        </div>
        <div>
            <div>
                <span class="font-weight-bold">Max level: </span><span>@(preuthorizedValue)</span>
            </div>
            <div>
                <span class="font-weight-bold">State: </span><span>@(currentState)</span>
            </div>
        </div>
    </div>
    <div>
        <button type="button" class="btn btn-primary">Raise nozzle</button>
        <button type="button" class="btn btn-primary">Tank</button>
        <button type="button" class="btn btn-primary">Lay down nozzle</button>
    </div>
</div>


@code {
    private decimal currentValue = 5;
    private decimal preuthorizedValue = 10;
    private string currentState = "Idle";
}
